<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blstream.urbangame"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".UrbanGameApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_urban_game"
        android:label="@string/app_name"
        android:theme="@style/UrbanGameTheme.Default" >
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/Theme.Sherlock.NoActionBar" >         
               <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GamesListActivity" />
        <activity android:name=".GameDetailsActivity" />
        <activity android:name=".ActiveGameActivity" />
        <activity android:name=".ActiveTaskActivity" />
        <activity android:name=".LoginRegisterActivity" />
        <activity android:name=".MyGamesActivity" />
        <service android:name=".notifications.NotificationService" />
    </application>

</manifest>