body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Inbox_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:21px;
    top:163px;
    width:384px;
    height:523px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:390px;
    height:529px;
}

.u1 {
    position:absolute;
    left:2px;
    top:254px;
    width:380px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Left_Chrome__Main__files/u0_normal.png');
}

.u2_container {
    position:absolute;
    left:21px;
    top:119px;
    width:384px;
    height:566px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:390px;
    height:572px;
}

.u3 {
    position:absolute;
    left:2px;
    top:275px;
    width:380px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u4 {
    position:absolute;
    left:21px;
    top:119px;
    width:385px;
    height:569px;
    overflow:hidden;
}

#pd0u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:385px;
    height:569px;
    
}

.u5_normal {
    background-image: url('../Left_Chrome__Main__files/u3_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:384px;
    height:568px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:390px;
    height:574px;
}

.u6 {
    position:absolute;
    left:2px;
    top:276px;
    width:380px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_container {
    position:absolute;
    left:128px;
    top:220px;
    width:128px;
    height:128px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:128px;
    height:128px;
}

.u8 {
    position:absolute;
    left:2px;
    top:56px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Left_Chrome__Main__files/u8_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:0px;
    width:428px;
    height:830px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:428px;
    height:830px;
}

.u11 {
    position:absolute;
    left:2px;
    top:407px;
    width:424px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Left_Chrome__Main__files/u10_normal.png');
}

.u12_container {
    position:absolute;
    left:21px;
    top:687px;
    width:385px;
    height:48px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:385px;
    height:48px;
}

.u13 {
    position:absolute;
    left:2px;
    top:16px;
    width:381px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u14 {
    position:absolute;
    left:21px;
    top:474px;
    width:385px;
    height:214px;
    overflow:hidden;
}

#pd0u14 {
    position:absolute;
    left:0px;
    top:0px;
    width:385px;
    height:214px;
    
}

.u15_normal {
    background-image: url('../Left_Chrome__Main__files/u13_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:0px;
    width:384px;
    height:213px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:390px;
    height:219px;
}

.u16 {
    position:absolute;
    left:2px;
    top:98px;
    width:380px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u17_container {
    position:absolute;
    left:10px;
    top:9px;
    width:29px;
    height:37px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u18 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u19_container {
    position:absolute;
    left:47px;
    top:9px;
    width:29px;
    height:37px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u20 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u21_container {
    position:absolute;
    left:85px;
    top:9px;
    width:29px;
    height:37px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u22 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u23_container {
    position:absolute;
    left:121px;
    top:9px;
    width:29px;
    height:37px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u24 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u25_container {
    position:absolute;
    left:159px;
    top:9px;
    width:29px;
    height:37px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u26 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u27_container {
    position:absolute;
    left:196px;
    top:9px;
    width:29px;
    height:37px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u28 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u29_container {
    position:absolute;
    left:233px;
    top:9px;
    width:29px;
    height:37px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u30 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u31_container {
    position:absolute;
    left:271px;
    top:9px;
    width:29px;
    height:37px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u32 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u33_container {
    position:absolute;
    left:308px;
    top:9px;
    width:29px;
    height:37px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u34 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u35_container {
    position:absolute;
    left:345px;
    top:9px;
    width:29px;
    height:37px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u36 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u37_container {
    position:absolute;
    left:29px;
    top:59px;
    width:29px;
    height:37px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u38 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u39_container {
    position:absolute;
    left:66px;
    top:59px;
    width:29px;
    height:37px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u40 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u41_container {
    position:absolute;
    left:102px;
    top:59px;
    width:29px;
    height:37px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u42 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u43_container {
    position:absolute;
    left:140px;
    top:59px;
    width:29px;
    height:37px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u44 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u45_container {
    position:absolute;
    left:177px;
    top:59px;
    width:29px;
    height:37px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u46 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u47_container {
    position:absolute;
    left:215px;
    top:59px;
    width:29px;
    height:37px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u48 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u49_container {
    position:absolute;
    left:252px;
    top:59px;
    width:29px;
    height:37px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u50 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u51_container {
    position:absolute;
    left:289px;
    top:59px;
    width:29px;
    height:37px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u52 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u53_container {
    position:absolute;
    left:326px;
    top:59px;
    width:29px;
    height:37px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u54 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u55_container {
    position:absolute;
    left:66px;
    top:110px;
    width:29px;
    height:37px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u56 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u57_container {
    position:absolute;
    left:102px;
    top:110px;
    width:29px;
    height:37px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u58 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u59_container {
    position:absolute;
    left:140px;
    top:110px;
    width:29px;
    height:37px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u60 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u61_container {
    position:absolute;
    left:177px;
    top:110px;
    width:29px;
    height:37px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u62 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u63_container {
    position:absolute;
    left:215px;
    top:110px;
    width:29px;
    height:37px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u64 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u65_container {
    position:absolute;
    left:252px;
    top:110px;
    width:29px;
    height:37px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u66 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../Left_Chrome__Main__files/u15_normal.png');
}

.u67_container {
    position:absolute;
    left:289px;
    top:110px;
    width:29px;
    height:37px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u68 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../Left_Chrome__Main__files/u67_normal.png');
}

.u69_container {
    position:absolute;
    left:10px;
    top:110px;
    width:45px;
    height:37px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:43px;
}

.u70 {
    position:absolute;
    left:2px;
    top:10px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../Left_Chrome__Main__files/u69_normal.png');
}

.u71_container {
    position:absolute;
    left:22px;
    top:119px;
    width:22px;
    height:13px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:28px;
    height:19px;
}

.u72 {
    position:absolute;
    left:2px;
    top:-2px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../Left_Chrome__Main__files/u71_normal.png');
}

.u73_container {
    position:absolute;
    left:28px;
    top:131px;
    width:9px;
    height:7px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:15px;
    height:13px;
}

.u74 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Left_Chrome__Main__files/u67_normal.png');
}

.u75_container {
    position:absolute;
    left:326px;
    top:110px;
    width:45px;
    height:37px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:43px;
}

.u76 {
    position:absolute;
    left:2px;
    top:10px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../Left_Chrome__Main__files/u75_normal.png');
}

.u77_container {
    position:absolute;
    left:335px;
    top:120px;
    width:27px;
    height:16px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:22px;
}

.u78 {
    position:absolute;
    left:7px;
    top:0px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../Left_Chrome__Main__files/u67_normal.png');
}

.u79_container {
    position:absolute;
    left:326px;
    top:162px;
    width:45px;
    height:37px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:43px;
}

.u80 {
    position:absolute;
    left:2px;
    top:10px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../Left_Chrome__Main__files/u79_normal.png');
}

.u81_container {
    position:absolute;
    left:335px;
    top:174px;
    width:11px;
    height:14px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:20px;
}

.u82 {
    position:absolute;
    left:7px;
    top:-1px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../Left_Chrome__Main__files/u81_normal.png');
}

.u83_container {
    position:absolute;
    left:102px;
    top:162px;
    width:177px;
    height:37px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:183px;
    height:43px;
}

.u84 {
    position:absolute;
    left:2px;
    top:10px;
    width:173px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../Left_Chrome__Main__files/u83_normal.png');
}

.u85_container {
    position:absolute;
    left:289px;
    top:162px;
    width:29px;
    height:37px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u86 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_line {
    background-image: url('../Left_Chrome__Main__files/u85_line.png');
}

.u87_line {
    position:absolute;
    left:0px;
    top:3px;
    width:16px;
    height:5px;
}

.u87 {
    position:absolute;
    left:346px;
    top:176px;
    width:16px;
    height:10px;
    
}

.u88_line {
    background-image: url('../Left_Chrome__Main__files/u86_line.png');
}

.u88_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:6px;
}

.u88 {
    position:absolute;
    left:356px;
    top:174px;
    width:10px;
    height:6px;
    
}

.u89_normal {
    background-image: url('../Left_Chrome__Main__files/u83_normal.png');
}

.u89_container {
    position:absolute;
    left:66px;
    top:162px;
    width:29px;
    height:37px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:35px;
    height:43px;
}

.u90 {
    position:absolute;
    left:2px;
    top:10px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../Left_Chrome__Main__files/u67_normal.png');
}

.u91_container {
    position:absolute;
    left:10px;
    top:162px;
    width:45px;
    height:37px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:43px;
}

.u92 {
    position:absolute;
    left:2px;
    top:10px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../Left_Chrome__Main__files/u91_normal.png');
}

.u93_container {
    position:absolute;
    left:73px;
    top:173px;
    width:14px;
    height:14px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u94 {
    position:absolute;
    left:2px;
    top:-1px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../Left_Chrome__Main__files/u93_normal.png');
}

.u95_container {
    position:absolute;
    left:72px;
    top:170px;
    width:15px;
    height:10px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:16px;
}

.u96 {
    position:absolute;
    left:2px;
    top:-3px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../Left_Chrome__Main__files/u95_normal.png');
}

.u97_container {
    position:absolute;
    left:77px;
    top:169px;
    width:6px;
    height:14px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:20px;
}

.u98 {
    position:absolute;
    left:2px;
    top:-1px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_line {
    background-image: url('../Left_Chrome__Main__files/u97_line.png');
}

.u99_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:5px;
}

.u99 {
    position:absolute;
    left:76px;
    top:187px;
    width:10px;
    height:5px;
    
}

#u100 {
    position:absolute;
    left:10px;
    top:110px;
    width:45px;
    height:35px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u101 {
    position:absolute;
    left:69px;
    top:690px;
    width:67px;
    height:43px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u102 {
    position:absolute;
    left:179px;
    top:690px;
    width:67px;
    height:43px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u103 {
    position:absolute;
    left:292px;
    top:690px;
    width:67px;
    height:43px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u104_normal {
    background-image: url('../Left_Chrome__Main__files/u102_normal.png');
}

.u104_container {
    position:absolute;
    left:21px;
    top:93px;
    width:384px;
    height:26px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:390px;
    height:32px;
}

.u105 {
    position:absolute;
    left:5px;
    top:5px;
    width:374px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../Left_Chrome__Main__files/u104_normal.png');
}

.u106_container {
    position:absolute;
    left:323px;
    top:95px;
    width:36px;
    height:22px;
}

#u106_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:22px;
}

.u107 {
    position:absolute;
    left:2px;
    top:3px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u108 {
    position:absolute;
    left:21px;
    top:430px;
    width:385px;
    height:45px;
    overflow:hidden;
}

#pd0u108 {
    position:absolute;
    left:0px;
    top:0px;
    width:385px;
    height:45px;
    
}

.u109_normal {
    background-image: url('../Left_Chrome__Main__files/u107_normal.png');
}

.u109_container {
    position:absolute;
    left:0px;
    top:0px;
    width:192px;
    height:44px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:198px;
    height:50px;
}

.u110 {
    position:absolute;
    left:2px;
    top:11px;
    width:188px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../Left_Chrome__Main__files/u109_normal.png');
}

.u111_container {
    position:absolute;
    left:192px;
    top:0px;
    width:192px;
    height:44px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:198px;
    height:50px;
}

.u112 {
    position:absolute;
    left:2px;
    top:11px;
    width:188px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u113 {
    position:absolute;
    left:69px;
    top:686px;
    width:68px;
    height:51px;
    overflow:hidden;
}

#pd0u113 {
    position:absolute;
    left:0px;
    top:0px;
    width:68px;
    height:51px;
    
}

#u114 {
    position:absolute;
    left:0px;
    top:0px;
    width:67px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u116 {
    position:absolute;
    left:21px;
    top:119px;
    width:385px;
    height:568px;
    overflow:hidden;
}

#pd0u116 {
    position:absolute;
    left:0px;
    top:0px;
    width:385px;
    height:568px;
    
}

.u117_normal {
    background-image: url('../Inbox_files/u117_normal.png');
}

.u117_container {
    position:absolute;
    left:0px;
    top:0px;
    width:384px;
    height:567px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:390px;
    height:573px;
}

.u118 {
    position:absolute;
    left:2px;
    top:276px;
    width:380px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../Inbox_files/u119_normal.png');
}

.u119_container {
    position:absolute;
    left:0px;
    top:0px;
    width:384px;
    height:27px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:390px;
    height:33px;
}

.u120 {
    position:absolute;
    left:8px;
    top:6px;
    width:368px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../Inbox_files/u121_normal.png');
}

.u121_container {
    position:absolute;
    left:0px;
    top:26px;
    width:62px;
    height:62px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:68px;
}

.u122 {
    position:absolute;
    left:2px;
    top:23px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../Inbox_files/u123_normal.png');
}

.u123_container {
    position:absolute;
    left:62px;
    top:26px;
    width:322px;
    height:62px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:328px;
    height:68px;
}

.u124 {
    position:absolute;
    left:2px;
    top:23px;
    width:318px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../Inbox_files/u125_normal.png');
}

.u125_container {
    position:absolute;
    left:9px;
    top:35px;
    width:44px;
    height:44px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:50px;
    height:50px;
}

.u126 {
    position:absolute;
    left:2px;
    top:1px;
    width:40px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:70px;
    top:37px;
    width:230px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:70px;
    top:59px;
    width:230px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../Inbox_files/u129_normal.png');
}

.u129_container {
    position:absolute;
    left:354px;
    top:61px;
    width:14px;
    height:14px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u130 {
    position:absolute;
    left:2px;
    top:-1px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:310px;
    top:59px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:292px;
    top:37px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../Inbox_files/u133_normal.png');
}

.u133_container {
    position:absolute;
    left:0px;
    top:549px;
    width:384px;
    height:18px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:390px;
    height:24px;
}

.u134 {
    position:absolute;
    left:8px;
    top:1px;
    width:368px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../Inbox_files/u135_normal.png');
}

.u135_container {
    position:absolute;
    left:176px;
    top:555px;
    width:5px;
    height:5px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:11px;
    height:11px;
}

.u136 {
    position:absolute;
    left:8px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../Inbox_files/u135_normal.png');
}

.u137_container {
    position:absolute;
    left:190px;
    top:555px;
    width:5px;
    height:5px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:11px;
    height:11px;
}

.u138 {
    position:absolute;
    left:8px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../Inbox_files/u135_normal.png');
}

.u139_container {
    position:absolute;
    left:203px;
    top:555px;
    width:5px;
    height:5px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:11px;
    height:11px;
}

.u140 {
    position:absolute;
    left:8px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u141 {
    position:absolute;
    left:0px;
    top:549px;
    width:384px;
    height:18px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u142 {
    position:absolute;
    left:0px;
    top:26px;
    width:384px;
    height:62px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u143_normal {
    background-image: url('../Inbox_files/u143_normal.png');
}

.u143_container {
    position:absolute;
    left:28px;
    top:97px;
    width:18px;
    height:18px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:24px;
}

.u144 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u145 {
    position:absolute;
    left:21px;
    top:93px;
    width:384px;
    height:26px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u146 {
    position:absolute;
    left:21px;
    top:119px;
    width:385px;
    height:45px;
    overflow:hidden;
}

#pd1u146 {
    position:absolute;
    left:0px;
    top:0px;
    width:385px;
    height:45px;
    
}

.u147_normal {
    background-image: url('../Inbox_files/u147_normal.png');
}

.u147_container {
    position:absolute;
    left:0px;
    top:0px;
    width:384px;
    height:44px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:390px;
    height:50px;
}

.u148 {
    position:absolute;
    left:2px;
    top:14px;
    width:380px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../Inbox_files/u149_normal.png');
}

.u149_container {
    position:absolute;
    left:0px;
    top:40px;
    width:384px;
    height:4px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:390px;
    height:10px;
}

.u150 {
    position:absolute;
    left:2px;
    top:-6px;
    width:380px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_line {
    background-image: url('../Inbox_files/u151_line.png');
}

.u151_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:24px;
}

.u151 {
    position:absolute;
    left:50px;
    top:8px;
    width:10px;
    height:24px;
    
}

.u152_normal {
    background-image: url('../Inbox_files/u152_normal.png');
}

.u152_container {
    position:absolute;
    left:8px;
    top:5px;
    width:32px;
    height:32px;
}

#u152_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u153 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../Inbox_files/u154_normal.png');
}

.u154_container {
    position:absolute;
    left:340px;
    top:5px;
    width:32px;
    height:32px;
}

#u154_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u155 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../Inbox_files/u156_normal.png');
}

.u156_container {
    position:absolute;
    left:240px;
    top:5px;
    width:32px;
    height:32px;
}

#u156_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u157 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../Inbox_files/u158_normal.png');
}

.u158_container {
    position:absolute;
    left:290px;
    top:5px;
    width:32px;
    height:32px;
}

#u158_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u159 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u146 {
    position:absolute;
    left:0px;
    top:0px;
    width:385px;
    height:45px;
    
}

.u160_normal {
    background-image: url('../Inbox_files/u160_normal.png');
}

.u160_container {
    position:absolute;
    left:0px;
    top:0px;
    width:384px;
    height:41px;
}

#u160_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:390px;
    height:47px;
}

.u161 {
    position:absolute;
    left:2px;
    top:12px;
    width:380px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../Inbox_files/u162_normal.png');
}

.u162_container {
    position:absolute;
    left:0px;
    top:41px;
    width:384px;
    height:3px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:390px;
    height:9px;
}

.u163 {
    position:absolute;
    left:2px;
    top:-6px;
    width:380px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_normal {
    background-image: url('../Inbox_files/u164_normal.png');
}

.u164_container {
    position:absolute;
    left:24px;
    top:6px;
    width:30px;
    height:30px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u165 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:70px;
    top:12px;
    width:169px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u167 {
    position:absolute;
    left:-5px;
    top:5px;
    width:33px;
    height:33px;
    overflow:hidden;
}

#pd0u167 {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:33px;
    
}

.u168_normal {
    background-image: url('../Inbox_files/u168_normal.png');
}

.u168_container {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

#u168_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u169 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../Inbox_files/u170_normal.png');
}

.u170_container {
    position:absolute;
    left:360px;
    top:9px;
    width:6px;
    height:6px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:12px;
}

.u171 {
    position:absolute;
    left:2px;
    top:-5px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_normal {
    background-image: url('../Inbox_files/u170_normal.png');
}

.u172_container {
    position:absolute;
    left:360px;
    top:19px;
    width:6px;
    height:6px;
}

#u172_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:12px;
}

.u173 {
    position:absolute;
    left:2px;
    top:-5px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174_normal {
    background-image: url('../Inbox_files/u170_normal.png');
}

.u174_container {
    position:absolute;
    left:360px;
    top:29px;
    width:6px;
    height:6px;
}

#u174_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:12px;
}

.u175 {
    position:absolute;
    left:2px;
    top:-5px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u176_container {
    position:absolute;
    left:360px;
    top:9px;
    width:6px;
    height:26px;
}

#u176_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:32px;
}

.u177 {
    position:absolute;
    left:2px;
    top:5px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u178 {
    position:absolute;
    left:21px;
    top:164px;
    width:405px;
    height:523px;
    overflow:hidden;
}

#pd0u178 {
    position:absolute;
    left:0px;
    top:0px;
    width:405px;
    height:523px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
    -ms-overflow-x:hidden;
}

.u179_line {
    background-image: url('../Inbox_files/u179_line.png');
}

.u179_line {
    position:absolute;
    left:0px;
    top:4px;
    width:384px;
    height:3px;
}

.u179 {
    position:absolute;
    left:0px;
    top:56px;
    width:384px;
    height:10px;
    
}

.u180_mouseDown {
    background-image: url('../Inbox_files/u180_mouseDown.png');
}

.u180_selected {
    background-image: url('../Inbox_files/u180_selected.png');
}

.u180_disabled {
    background-image: url('../resources/images/transparent.gif');
}

.u180_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u180_container {
    position:absolute;
    left:0px;
    top:0px;
    width:384px;
    height:60px;
}

#u180_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:390px;
    height:66px;
}

.u181 {
    position:absolute;
    left:10px;
    top:11px;
    width:364px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182_mouseDown {
    background-image: url('../Inbox_files/u182_mouseDown.png');
}

.u182_selected {
    background-image: url('../Inbox_files/u182_selected.png');
}

.u182_disabled {
    background-image: url('../resources/images/transparent.gif');
}

.u182_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u182_container {
    position:absolute;
    left:256px;
    top:0px;
    width:128px;
    height:60px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:66px;
}

.u183 {
    position:absolute;
    left:10px;
    top:14px;
    width:108px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186_line {
    background-image: url('../Message_1_files/u186_line.png');
}

.u186_line {
    position:absolute;
    left:0px;
    top:4px;
    width:384px;
    height:3px;
}

.u186 {
    position:absolute;
    left:0px;
    top:116px;
    width:384px;
    height:10px;
    
}

.u187_mouseDown {
    background-image: url('../Message_1_files/u187_mouseDown.png');
}

.u187_selected {
    background-image: url('../Message_1_files/u187_selected.png');
}

.u187_disabled {
    background-image: url('../resources/images/transparent.gif');
}

.u187_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u187_container {
    position:absolute;
    left:0px;
    top:60px;
    width:384px;
    height:60px;
}

#u187_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:390px;
    height:66px;
}

.u188 {
    position:absolute;
    left:10px;
    top:11px;
    width:364px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189_mouseDown {
    background-image: url('../Message_1_files/u189_mouseDown.png');
}

.u189_selected {
    background-image: url('../Message_1_files/u189_selected.png');
}

.u189_disabled {
    background-image: url('../resources/images/transparent.gif');
}

.u189_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u189_container {
    position:absolute;
    left:256px;
    top:60px;
    width:128px;
    height:60px;
}

#u189_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:66px;
}

.u190 {
    position:absolute;
    left:10px;
    top:14px;
    width:108px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194_line {
    background-image: url('../Message_1_files/u186_line.png');
}

.u194_line {
    position:absolute;
    left:0px;
    top:4px;
    width:384px;
    height:3px;
}

.u194 {
    position:absolute;
    left:0px;
    top:176px;
    width:384px;
    height:10px;
    
}

.u195_mouseDown {
    background-image: url('../Message_1_files/u187_mouseDown.png');
}

.u195_selected {
    background-image: url('../Message_1_files/u187_selected.png');
}

.u195_disabled {
    background-image: url('../resources/images/transparent.gif');
}

.u195_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u195_container {
    position:absolute;
    left:0px;
    top:120px;
    width:384px;
    height:60px;
}

#u195_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:390px;
    height:66px;
}

.u196 {
    position:absolute;
    left:10px;
    top:11px;
    width:364px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197_mouseDown {
    background-image: url('../Message_1_files/u189_mouseDown.png');
}

.u197_selected {
    background-image: url('../Message_1_files/u189_selected.png');
}

.u197_disabled {
    background-image: url('../resources/images/transparent.gif');
}

.u197_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u197_container {
    position:absolute;
    left:256px;
    top:120px;
    width:128px;
    height:60px;
}

#u197_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:66px;
}

.u198 {
    position:absolute;
    left:10px;
    top:14px;
    width:108px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202_line {
    background-image: url('../Message_1_files/u186_line.png');
}

.u202_line {
    position:absolute;
    left:0px;
    top:4px;
    width:384px;
    height:3px;
}

.u202 {
    position:absolute;
    left:0px;
    top:236px;
    width:384px;
    height:10px;
    
}

.u203_mouseDown {
    background-image: url('../Message_1_files/u187_mouseDown.png');
}

.u203_selected {
    background-image: url('../Message_1_files/u187_selected.png');
}

.u203_disabled {
    background-image: url('../resources/images/transparent.gif');
}

.u203_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u203_container {
    position:absolute;
    left:0px;
    top:180px;
    width:384px;
    height:60px;
}

#u203_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:390px;
    height:66px;
}

.u204 {
    position:absolute;
    left:10px;
    top:11px;
    width:364px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205_mouseDown {
    background-image: url('../Message_1_files/u189_mouseDown.png');
}

.u205_selected {
    background-image: url('../Message_1_files/u189_selected.png');
}

.u205_disabled {
    background-image: url('../resources/images/transparent.gif');
}

.u205_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u205_container {
    position:absolute;
    left:256px;
    top:180px;
    width:128px;
    height:60px;
}

#u205_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:66px;
}

.u206 {
    position:absolute;
    left:10px;
    top:14px;
    width:108px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208 {
    position:absolute;
    left:16px;
    top:0px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210_normal {
    background-image: url('../Right_Chrome_files/u268_normal.png');
}

.u210_container {
    position:absolute;
    left:406px;
    top:0px;
    width:22px;
    height:830px;
}

#u210_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:830px;
}

.u211 {
    position:absolute;
    left:2px;
    top:407px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u213 {
    position:absolute;
    left:478px;
    top:630px;
    width:280px;
    height:72px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u214 {
    position:absolute;
    left:94px;
    top:164px;
    width:312px;
    height:211px;
    overflow:hidden;
}

#pd0u214 {
    position:absolute;
    left:0px;
    top:0px;
    width:312px;
    height:211px;
    
}

.u215_normal {
    background-image: url('../Inbox_files/u215_normal.png');
}

.u215_container {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:200px;
}

#u215_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:206px;
}

.u216 {
    position:absolute;
    left:2px;
    top:92px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217_normal {
    background-image: url('../Inbox_files/u217_normal.png');
}

.u217_container {
    position:absolute;
    left:10px;
    top:200px;
    width:301px;
    height:10px;
}

#u217_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:307px;
    height:16px;
}

.u218 {
    position:absolute;
    left:2px;
    top:-3px;
    width:297px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u219_mouseDown {
    background-image: url('../Inbox_files/Menu_Item_1_u219_mouseDown.png');
}

.u219_disabled {
    background-image: url('../Inbox_files/Menu_Item_1_u219_disabled.png');
}

.u219_normal {
    background-image: url('../Inbox_files/Menu_Item_1_u219_disabled.png');
}

.u219_container {
    position:absolute;
    left:11px;
    top:0px;
    width:300px;
    height:50px;
}

#u219_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:56px;
}

.u220 {
    position:absolute;
    left:20px;
    top:14px;
    width:260px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u221_mouseDown {
    background-image: url('../Inbox_files/Menu_Item_1_u219_mouseDown.png');
}

.u221_disabled {
    background-image: url('../Inbox_files/Menu_Item_1_u219_disabled.png');
}

.u221_normal {
    background-image: url('../Inbox_files/Menu_Item_1_u219_disabled.png');
}

.u221_container {
    position:absolute;
    left:11px;
    top:50px;
    width:300px;
    height:50px;
}

#u221_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:56px;
}

.u222 {
    position:absolute;
    left:20px;
    top:14px;
    width:260px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u223_mouseDown {
    background-image: url('../Inbox_files/Menu_Item_1_u219_mouseDown.png');
}

.u223_disabled {
    background-image: url('../Inbox_files/Menu_Item_1_u219_disabled.png');
}

.u223_normal {
    background-image: url('../Inbox_files/Menu_Item_1_u219_disabled.png');
}

.u223_container {
    position:absolute;
    left:11px;
    top:100px;
    width:300px;
    height:50px;
}

#u223_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:56px;
}

.u224 {
    position:absolute;
    left:20px;
    top:14px;
    width:260px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u225_mouseDown {
    background-image: url('../Inbox_files/Menu_Item_1_u219_mouseDown.png');
}

.u225_disabled {
    background-image: url('../Inbox_files/Menu_Item_1_u219_disabled.png');
}

.u225_normal {
    background-image: url('../Inbox_files/Menu_Item_1_u219_disabled.png');
}

.u225_container {
    position:absolute;
    left:11px;
    top:150px;
    width:300px;
    height:50px;
}

#u225_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:56px;
}

.u226 {
    position:absolute;
    left:20px;
    top:14px;
    width:260px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

